{% extends 'menu_lateral.html' %}
{% load static %}

{% block 'title' %}Responsáveis{% endblock %}

{% block 'main' %}
<main class="main-content p-6 md:p-10 flex flex-col items-center">
    <div class="w-full max-w-5xl mx-auto space-y-8">

        <section class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-semibold text-darken mb-4">Buscar Responsáveis</h2>
            <form action="{% url 'responsaveis_home' %}" method="GET" class="flex flex-col md:flex-row gap-4">
                <input type="text" class="flex-grow p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-darken" placeholder="Busque por responsáveis..." name="nome">
                <button type="submit" class="w-full md:w-auto px-6 py-3 bg-darken text-white font-bold rounded-lg shadow hover:bg-blue-700 transition-colors duration-300">
                    Filtrar
                </button>
            </form>
        </section>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

            {% for data in parceiros_data %}
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-xl font-semibold text-darken mb-4">{{ data.parceiro.nome }}</h2>
                <ul class="space-y-2">
                    {% for responsavel in data.responsaveis %}
                        <li>
                            <a class="block p-3 rounded-lg text-gray-800 hover:text-darken hover:bg-gray-100 transition-colors duration-200" href="{% url 'perfil_responsavel' responsavel.id %}">
                                - {{ responsavel.nome }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% empty %}
                <p class="text-gray-600 col-span-full text-center">Nenhum responsável encontrado.</p>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}